form:
	action:
		group: Actions
		add:
			label: Add
			success:
				message: Adding was successfull.
			error:
				warning: Adding was unsuccessfull.
		edit:
			label: Edit
			success:
				message: Editing was successfull.
			error:
				warning: Editing was unsuccessfull.
		delete:
			label: Delete
			success:
				message: Deleting was successfull.
			error:
				warning: Deleting was unsuccessfull.
		success:
			message: Action was successfull.
		warning:
			message: Action was unsuccessfull.

